body {
  background-color: rgb(71, 181, 255)
}

.box {
  background-color: white;
  position: relative;
}

.fa-quote-left {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.5;
  color: rgb(48, 48, 48);
}

#text {
  font-weight: 700;
}

#author {
  font-weight: 500;
}

#buttons {
  margin-top: 7%;
  margin-bottom: -5%;
}
